// HEADER SCSS
header {
    #notify {
        background-color: $border-color;
        height: 20px;
        color: $primary-color;

        .container {
            text-align: end;

            span {
                padding: 5px 10px;
                font-size: 10px;
            }
        }
    }

    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        width: 100%;
    }

    img {
        height: 80px;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    ul li {
        padding: 0 15px;
    }

    ul li a {
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        color: $primary-bgc;
        padding-bottom: 38px;

        &:hover,
        &.active {
            color: $border-color;
            border-bottom: 4px solid $border-color;
        }
    }
}


// MAIN SCSS
main {

    .main-content {
        background-color: $primary-bgc;
    }

    .jumbotron {
        background-image: url("/images/jumbotron.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }

    .current-series {
        background-color: $border-color;
        color: #fff;
        font-size: 20px;
        width: 25%;
        text-align: center;
        position: relative;
        top: -25px;
        padding: 15px;
    }

    .comic-card {
        width: calc(100% / 6);
        padding: 50px 0;
        height: 250px;

        .comics {
            display: block;
            height: 100%;
            width: 150px;
        }

        .comics-text {
            color: #fff;
            font-size: 15px;
            padding-top: 10px;
            text-transform: uppercase;
        }
    }

    .load-div {
        padding: 30px 0;
    }

    .load-button {
        background-color: $border-color;
        color: #fff;
        font-size: 15px;
        width: 25%;
        text-align: center;
        padding: 15px;
        font-weight: bolder;
    }
}

#nav-shop {
    background-color: $border-color;
    height: 150px;
    position: relative;
    z-index: 1;

    .shop-logos {
        height: 80px;

    }

    .d-flex {
        padding: 10px 0;

        a {
            padding: 10px;
        }
    }
}

// FOOTER SCSS

.main-footer {
    background-image: url("/images/footer-bg.jpg");
    background-position: center;
    background-size: contain;
    height: 300px;
    padding: 10px 0;
}

.DC-shop {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}


.links {
    display: block;
}

#logo-bg {
    height: 400px;
    position: relative;
    top: -70px;
    right: -200px;
    z-index: 0;
}

h4 {
    color: #fff;
}

ul li a {
    font-size: 13px;
}

.final-footer {
    background-color: $primary-bgc;
    height: 100px;
}


.follow-us {
    display: flex;
}

.follow-us ul {
    display: flex;
}

.follow-us h4 {
    color: #0282f9;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

.follow-us li {
    padding: 0 10px;
}

.btn-sign-up button {
    background-color: $primary-bgc;
    border: 2px solid #0282f9;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}