* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header #notify {
  background-color: #0282f9;
  height: 20px;
  color: #fff;
}

header #notify .container {
  text-align: end;
}

header #notify .container span {
  padding: 5px 10px;
  font-size: 10px;
}

header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

header img {
  height: 80px;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  padding: 0 15px;
}

header ul li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #303030;
  padding-bottom: 25px;
}

header ul li a:hover,
header ul li a.active {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

.main-content {
  background-color: #303030;
  height: 150px;
}

.jumbotron {
  background-position: top;
  background-size: cover;
  height: 300px;
}

.current-series {
  background-color: #303030;
}

.comic-card {
  height: 80px;
  width: 25%;
  padding: 10px;
}

.comic-card .comics {
  display: block;
  height: 90%;
  width: 100%;
}

.comic-card .comics-text {
  color: #fff;
  font-size: 15px;
  padding-top: 10px;
}

.background-footer {
  background-position: center;
  background-size: contain;
  height: 300px;
  padding: 10px 0;
}

.container .DC-shop {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
}

#shop {
  display: block;
}

h4 {
  color: #fff;
}

ul li a {
  font-size: 13px;
}

.final-footer {
  background-color: #303030;
  height: 100px;
}

.follow-us {
  display: flex;
}

.follow-us ul {
  display: flex;
}

.follow-us h4 {
  color: #0282f9;
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
}

.follow-us li {
  padding: 0 10px;
}

.btn-sign-up button {
  background-color: #303030;
  border: 2px solid #0282f9;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
}

